.row {
  margin-left: 20px;
}

.row__images {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__img {
  object-fit: contain;
  width: 100%;
  max-height: 20vh;
  transition: transfrom 440ms;
  margin-right: 0.6vw;
}

.row__imgLarge {
  max-height: 40vh;
}

.row__images::-webkit-scrollbar {
  display: none;
}

.row__img:hover {
  transform: scale(1.08);
}

.row__title {
  text-transform: uppercase;
}
